<!DOCTYPE html>
<html>
<head>
    <title>PiataGlance</title>
    <meta charset="UTF-8">
    <html lang="en">
    <link rel="stylesheet" type="text/css" href="public/styles/main.css">
    <link rel="stylesheet" type="text/css" href="public/styles/piata.css">
    <script src="node_modules/handlebars/dist/handlebars.min.js"></script>
</head>
<body>
<!-- templates -->
<script id="acct-mgmt" type="text/x-handlebars-template">
    {{#each account}}
        <span class="acct_listed" id="acct-listed_{{acct}}" >
            <p class="acct_listed">{{acct}}</p>
            <span class="label label-danger remove remove_acct" 
            id="rem_a_{{acct}}">Remove</span>
        {{#if versions}}
            {{#each versions}}
                <span class="acct_version" id="v_{{vIndex}}">
                    v{{vIndex}}
                </span>
                <span class="label label-danger remove remove_version"
                id="{{rem_v_id}}">X</span>
            {{/each}}
        {{/if}}
        </span>
    {{/each}}
</script>
<script id="acct-select-opts" type="text/x-handlebars-template">
    {{#each accts}}
            <option value="{{account}}">{{account}}</option>
    {{/each}}
</script>
<script id="view-select-opts" type="text/x-handlebars-template">
    {{#each views}}
            <option value="{{tag}}">{{name}}</option>
    {{/each}}
</script>
<script id="data-table-conflicts" type="text/x-handlebars-template">
    <table id="conflicts">
        <tr class="header">
            <th>file name</th>
            <th>order / position</th>
            <th>formula / condition</th>
        </tr>
        {{#each entries}}
            <tr>
                <td>{{file}}</td>
                <td>{{where}}</td>
                <td>{{value}}</td>
            </tr>
        {{/each}}
    </table>
</script>
<!-- modal -->
    <div class="modal fade" id="acct-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                    aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Accounts Loaded</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-horizontal" id="acct-list"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>    
<!-- jumbotron -->
    <header class="jumbotron">
        <div class="container">
            <h1 id="header">Pi ataGlance</h1>
        </div>
    </header>
<!-- content body -->
    <div class="content" id="acct-div">
        <div class="row row-content">
<!-- status label -->
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                <div class="alert hidden" role="alert" id="acct-alert"></div>
            </div>
<!-- accts management -->
            <div class="col-xs-11 col-xs-offset-1 col-sm-4 col-sm-offset-2">
                <input type="text" placeholder="Enter Acct #"
                class="acct-load" id="acct-input"></input>
                <button class="btn btn-primary acct-load" id="acct-submit">
                    Load Acct
                </button>
            </div>
            <div class="col-xs-11 col-xs-offset-1 col-sm-4 col-sm-offset-2">
                <button class="btn btn-primary acct-load" id="acct-manage"
                data-toggle="modal" data-target="#acct-modal">
                    Manage Accounts Loaded
                </button>
            </div>
        </div>
    </div>
<!-- view options -->
    <div class="content" id="view-div">
        <div class="row row-content">
            <div class="col-xs-11 col-xs-offset-1 col-lg-4 col-sm-offset-2">
                <div class="col-xs-12 col-lg-6">
                    <label>Select View: </label>
                </div>
                <div class="col-xs-12 col-lg-6">
                    <select id="view-select"></select>
                </div>
            </div>
            <div class="col-xs-11 col-xs-offset-1 col-lg-4 col-sm-offset-2">
                <div class="col-xs-12 col-lg-6">
                    <label>Select Account: </label>
                </div>
                <div class="col-xs-12 col-lg-6">
                    <select id="acct-select">
                        <option value="null">
                            *Account list is empty*
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-offset-2">
                <button class="btn btn-primary" id="view-load">
                    Load Table
                </button>
            </div>
        </div>
    </div>
<!-- data -->
    <div class="content" id="data-div">
        <div class="row row-content" id="table-div">
        </div>
    </div>
<!-- scripts -->
    <script src="public/scripts/main.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="public/scripts/pubsub.js"></script>
    <script src="node_modules/lodash/lodash.js"></script>
    <script src="public/scripts/piata.js"></script>
</body>
</html>