<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="public/styles/main.css">
</head>
<body>
    <header class="jumbotron">
        <div class="container">
            <h1 id="header">BPE Scripting Suite</h1>
        </div>
    </header>
    <div class="content">
        <div class="row row-content">
            <div class="col-xs-4 col-xs-offset-2">
                <a type="button" href="/piata" class="btn btn-primary btn-lg">Pi ataGlance</a>
            </div>
            <div class="col-xs-4">
                <button type="button" href="/rest" class="btn btn-primary btn-lg">RestAPI</button>
            </div>
        </div>
    </div>

    <script src="public/scripts/main.js"></script>

</body>
</html>