  div.alert {
    font-weight: bold;
} div#acct-list > span.acct_listed {
	display: block;
} div#acct-list > span.acct_listed > * {
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
} div#view-div > div > *  {
	margin-top: 20px;
} .acct-load {
	margin-bottom: 5px;
} #view-div {
	outline: solid #5d8ab1;
	margin-top: 20px;
	padding-bottom: 10px;
	margin-bottom: 10px;
} .results tr[visible='false'],
  .no-result {
  	display: none;
} .results tr[visible='true'] {
	display: table-row;
}